<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>newAboutPage</title>
</head>
<body>
	<section>
		<h2>this is new about page</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
			incidunt ad molestias saepe nemo distinctio officia cum explicabo.
			Totam necessitatibus vero error harum eligendi quaerat dolorum nulla
			dolore similique consectetur tenetur doloremque quibusdam iste
			deleniti nobis eius eaque impedit quos. Expedita reprehenderit
			commodi cumque harum libero sint eius vero numquam!</p>
	</section>
</body>
</html>