<!DOCTYPE html>
<html
  lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>base page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--this is header section-->

    <!--end of the header section-->

    <!--this is body section-->
    <section th:replace="${content}"></section>
    <!--end of the body section-->

    <!--this is footer section-->
    <!--end of the footer section-->
  </body>
</html>
